body{
  background-color: #86009C;
}
.text{
  margin-top: 5px;
  color: yellow;
  font-size: larger;
  border: solid, white;
  border-radius: 12px;
  padding: 5px;
  width: 400px;
  min-height: 50px;
  background-color: black;
}
a{
  color: white;
  font-size: larger;
}